<!DOCTYPE html> 
<html>
    <head>
        <meta charset = "utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}    
        <img src="http://chiqueteria.com.br/wp-content/uploads/2018/09/Pericles.jpg" alt="Periclão damassa" width=300 height=200>
        <p>Some more text here</p>
        
        {{> footer}}
    </body>
</html>