<!DOCTYPE html> 
<html>
    <head>
        <meta charset = "utf-8">
        <title>Welcome Page</title>
    </head>
    <body>
       <h1>We will be right back</h1>
       <img src="http://straightfromthea.com/wp-content/uploads/2012/12/notorious-big--e1354904609399.jpg" alt="" width=250 height=200>
       <p>  
           Site is under maintance, we will back soon.
       </p>
    </body>
</html>